################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleServer/bin/Debug
/SampleServer/obj/Debug
*.suo
/SampleServer/.vs/SampleServer/FileContentIndex
/.vs
