################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleServer/bin/Debug
/SampleServer/obj/Debug
*.suo
/SampleServer/.vs/SampleServer/FileContentIndex
/.vs
/.vscode
/consoleApp/SampleServer/.vs/SampleServer/v17
/consoleApp/SampleServer/packages
/consoleApp/SampleServer/.vs/SampleServer/FileContentIndex
